$fontStackSystem: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$fontStackDefault: 'Inter', $fontStackSystem;
$fontStackTitle: urw-din, 'itc-avant-garde-gothic-pro', 'futura-pt', futura, helevetica, arial, sans-serif;

@mixin ui-important {
    font-family: $fontStackTitle;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}

@mixin ui-title {
    @include ui-important;
}

@mixin ui-subtitle {
    @include ui-important;
    font-weight: 100;
}

@mixin navanim {
    animation-duration: .25s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
